<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60df86">  <td>20/08/29 14:14:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlight()[pri:2, instance:com.NewTours.testscripts.NewTest@68bbe345]">BookingFlight</td> 
  <td>main@815992954</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/08/29 14:14:26</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ConfirmMessageCheck()[pri:3, instance:com.NewTours.testscripts.NewTest@68bbe345]">ConfirmMessageCheck</td> 
  <td>main@815992954</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/08/29 14:14:26</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Login()[pri:1, instance:com.NewTours.testscripts.NewTest@68bbe345]">Login</td> 
  <td>main@815992954</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/08/29 14:14:26</td>   <td>6</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:com.NewTours.testscripts.NewTest@68bbe345]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>20/08/29 14:14:25</td>   <td>-1374</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:com.NewTours.testscripts.NewTest@68bbe345]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@815992954</td>   <td></td> </tr>
</table>
